@import 'partials';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
   display: flex;

   &--between {
       justify-content: space-between;
   }
}

.container {
    &--wrapper {
        color: $font-color;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2; 
    }
}

.main-header {
    padding: 2vh 0;
    a {
        color: $font-color;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        
        &:hover {
            color: $font-color;
            text-decoration: none;
        } 
    }

        &__contact {
            display: flex;
        }
        &__phone {
            padding-left: 20px;
            span {
                font-size: 1.3rem;
                display: block;
            }
        }
    }


.fa {
    &--custom-decor {
        color: $decor-color;
        font-size: 3rem;
        vertical-align: middle;
    }
    &--custom-transform {
        transform: rotate(90deg);
        font-size: 2rem;
    }
}



.main-section {
    background: url(../img/background.png) no-repeat center center / cover;
    height: 100vh;
}




.form {
    color: $font-color;
    padding-top: 26vh;
}




/* 

.naglowek {
    background-image: $background-image;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.stopka {
    background: $footer-background-color;
    height: 25vh;
}

.service {
    top: 30px;
    display: inline-block;
    display: flex;
    
	position: relative;
  

}

.service__icon {
    width: 50px;
	height: 50px;
	margin: auto;
    background: $decor-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;
}

p {
    color: $font-color;
    font-family: $font-family;
    font-size: .8rem;
    text-align: center;
    padding: 50px;
}
 */